.harDownloadButton,
.harSaveButton {
	display:				inline-block;
	width:					16px;
	height:					16px;

	background-color:		transparent;
	background-repeat:		no-repeat;
	background-position:	0px 0px;

	/* Remove the dotted outline when focused */
	outline:				none;
	-moz-user-focus:		ignore;
}

.harDownloadButton {
	background-image:		url("images/download-sprites.png");
}
.harDownloadButton:hover {
	background-position:	0px -16px;;
}

.harSaveButton {
	background-image:		url("images/save.png");
}
