@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HTTP-Archive-Viewer-prefs,
#HTTP-Archive-Viewer-pane {
	background-color:	#fff;
	width:				500px;
	height:				355px;
}
